selenium~=4.13.0
pandas~=2.0.3
numpy~=1.26.0  # Added for compatibility with pandas
pymongo~=4.5.0
Flask~=3.0.0

# GraphQL dependencies
graphql-core==3.2.3
ariadne==0.26.2

# APScheduler dependency
apscheduler~=3.11.0